{% extends "layout.html" %}
{% block content %}
    <h1>All Reports</h1>
    {% if reports %}
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>S/N</th>
                <th>Category</th>
                <th>Description</th>
                <th>Location</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(1, total) %}
                {% if reports[i].status != "Resolved" %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ reports[i-1].category }}</td>
                        <td>{{ reports[i-1].description }}</td>
                        <td>{{ reports[i-1].location }}</td>
                        <td>{{ reports[i-1].date_posted }}</td>
                        <td>{{ reports[i-1].status }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="text-center">
        <span class="text-muted">No report have been made</span>
    </div>
    {% endif %}
{% endblock %}