.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.DS_Store
create_db.py
main.py
cleanalert/static/icons/
debug.py
.env
.env.*
!.env.example
cleanalert/static/uploads/
cleanalert/static/profile_pics/*
!cleanalert/static/profile_pics/default.jpg
